.modules {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  .moduleButton {
    background-color: aqua;
    border-radius: 7%;
    border: unset;
    cursor: pointer;
    width: 100px;
    height: 50px;
  }
}
h1 {
  display: flex;
  justify-content: center;
  color: red;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  justify-content: center;
}
h3 {
  display: flex;
  justify-content: center;
  color: blue;
}
